# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs / reports
*.log

*.yaml